.app {
  margin: 0 auto;
  padding: 0 25px;
}

.header {
  display: flex;
  justify-content: center;
  padding: 50px 0;
  font-size: 0;
}

.main {
  display: flex;
  justify-content: center;
  gap: 20px;

  @media (max-width: 767.98px) {
    flex-direction: column;
    align-items: center;
  }

  &__left {
    @media (max-width: 767.98px) {
      width: 100%;
      max-width: 500px;
    }
  }
  &__right {
    min-width: 500px;

    @media (max-width: 767.98px) {
      width: 100%;
      min-width: 0;
      max-width: 500px;
    }
  }
}
